Repository SPURB/apropriacaohoras, pull requests merged in 2020-06, with the labels that each got.

#50 feat(app): update fields
  app/components/elements/LinhaHorizontal.vue
  app/components/forms/InputUpdate.vue
  app/components/router-links/ListHorizontalNav.vue
  app/cypress/integration/admin/fase.spec.js
  app/cypress/integration/admin/projetos.spec.js
  app/cypress/integration/admin/subatividades.spec.js
  app/pages/admin/projetos.vue
  app/services/api-fase.js
  app/services/api-projeto.js
  app/services/api-subatividade.js
  app/store/admin/projetos.js
Labels: app, feat

#55 chore(api): atuliza comando db:init
  api/package.json
Labels: api, bug

#53 Feat/relatorio detalhado
  app/assets/style/icones/participe.css
  app/components/CustomSelect.vue
  app/components/RelatorioDetalhado.vue
  app/components/elements/TabelaHoras.vue
  app/components/elements/TabelaProjetos.vue
  app/cypress/integration/admin/relatorio-detalhado.spec.js
  app/pages/admin/relatorios.vue
  app/store/relatorios.js
Labels: app, feat

#58 Chore/api seeders
  api/seeders/003-usuarios.js
  api/seeders/006-usuarios-projetos.js
  app/cypress/integration/admin/equipes.spec.js
  app/cypress/support/commands.js
Labels: api, tests

#64 feat/admin-grupos e feat/edicao-horas
  api/docs/apropriacao-de-horas.postman_collection.json
  api/docs/postwoman-collection.json
  api/migrations/001-create-grupos.js
  api/migrations/002-create-fases.js
  api/migrations/003-create-projetos.js
  api/migrations/005-create-usuarios.js
  api/migrations/006-authtokens.js
  api/migrations/007-create-usuarios_projetos.js
  api/migrations/008-create-horas.js
  api/package.json
  api/seeders/001-fases.js
  api/seeders/001-grupos.js
  api/seeders/002-fases.js
  api/seeders/002-projetos.js
  api/seeders/003-projetos.js
  api/seeders/005-usuarios.js
  api/seeders/006-horas.js
  api/seeders/007-usuarios-projetos.js
  api/src/controllers/dao.js
  api/src/controllers/fases.controller.js
  api/src/controllers/grupos.controller.js
  api/src/controllers/projetos.controller.js
  api/src/controllers/subatividades.controller.js
  api/src/index.js
  api/src/models/fases.model.js
  api/src/models/grupos.model.js
  api/src/models/index.js
  api/src/models/projetos.model.js
  api/src/routes/grupos.routes.js
  app/components/AppHeader.vue
  app/components/CustomSelect.vue
  app/components/EditarHoras.vue
  app/components/ListarHoras.vue
  app/components/forms/InputCreate.vue
  app/components/forms/TimeInput.vue
  app/components/router-links/CardHorizontal.vue
  app/components/router-links/Voltar.vue
  app/cypress/integration/admin/fase.spec.js
  app/cypress/integration/admin/projetos.spec.js
  app/cypress/integration/admin/subatividades.spec.js
  app/nuxt.config.js
  app/nuxt.config.local.js
  app/pages/admin/grupos.vue
  app/pages/admin/index.vue
  app/pages/admin/projetos.vue
  app/pages/editar.vue
  app/pages/registrar.vue
  app/services/api-fase.js
  app/services/api-grupo.js
  app/services/api-horas.js
  app/store/admin/grupos.js
  app/store/admin/projetos.js
  app/store/editar.js
Labels: api, app, feat

#63 Feat/edicao horas
  app/components/AppHeader.vue
  app/components/CustomSelect.vue
  app/components/EditarHoras.vue
  app/components/ListarHoras.vue
  app/components/forms/TimeInput.vue
  app/pages/editar.vue
  app/pages/registrar.vue
  app/services/api-horas.js
  app/store/editar.js
Labels: app, feat

#65 Fix/bugs
  app/components/Calendario.vue
  app/components/RelatorioDetalhado.vue
  app/components/Slide.vue
  app/components/calendario.vue
  app/components/elements/Pagination.vue
  app/components/elements/TabelaHoras.vue
  app/components/router-links/CardHorizontal.vue
Labels: app, bug

#71 Reset password/logged
  app/components/AppHeader.vue
  app/components/elements/Key.vue
  app/cypress/integration/resetar-senha/reset-page.spec.js
  app/pages/confirmar-senha.vue
  app/pages/reset.vue
  app/store/usuario.js
Labels: app, feat

#73 docs(app): classificação de componentes
  app/components/calendario.vue
  app/components/elements/CustomSelect.vue
  app/components/elements/Key.vue
  app/components/elements/Slide.vue
  app/components/sections/AppFooter.vue
  app/components/sections/AppHeader.vue
  app/components/sections/Calendario.vue
  app/components/sections/EditarHoras.vue
  app/components/sections/ListarHoras.vue
  app/components/sections/Modal.vue
  app/components/sections/RelatorioDetalhado.vue
  app/layouts/admin.vue
  app/layouts/usuario.vue
  app/pages/admin/equipes.vue
  app/pages/admin/grupos.vue
  app/pages/admin/projetos.vue
  app/pages/admin/relatorios.vue
  app/pages/confirmar-senha.vue
  app/pages/editar.vue
  app/pages/index.vue
  app/pages/login.vue
  app/pages/registrar.vue
  app/pages/reset.vue
Labels: app, docs

#74 refactor(api): refatora parametros :id nas acoes
  api/src/controllers/projetos.controller.js
  api/src/routes/projetos.routes.js
  app/components/elements/BtnAction.vue
  app/components/elements/Filtro.vue
  app/components/sections/RelatorioDetalhado.vue
  app/components/sections/TabelaProjetos.vue
  app/pages/confirmar-senha.vue
  app/pages/editar.vue
  app/pages/index.vue
  app/pages/pre-impressao.vue
  app/pages/reset.vue
  app/services/api-acoes.js
  app/store/relatorios.js
Labels: api, app, feat, tests

#76 feat(app): relatorios exports
  app/assets/style/form-horas.scss
  app/components/elements/BtnAction.vue
  app/components/elements/Filtro.vue
  app/components/elements/GrafBar.vue
  app/components/sections/Calendario.vue
  app/components/sections/PreImpressaoA4.vue
  app/components/sections/TabelaHoras.vue
  app/components/sections/TabelaProjetos.vue
  app/layouts/pre-impressao.vue
  app/package-lock.json
  app/package.json
  app/pages/admin/relatorios.vue
  app/pages/pre-impressao.vue
  app/pages/registrar.vue
  app/services/api-grupo.js
  app/store/pre-impressao.js
Labels: app, feat

#78 chore: inclui script de build para publicar em servicos.spurbansimo
  app/nuxt.config.js
  app/nuxt.config.local.js
  app/package-lock.json
  app/package.json
Labels: devops

#79 feat(api): envio de email no cadastro de usuário
  api/.env
  api/package-lock.json
  api/package.json
  api/src/controllers/acoes.js
  api/src/controllers/exceptions.js
  api/src/controllers/usuarios.controller.js
Labels: api, feat
