Repository SPURB/apropriacaohoras, pull requests merged in 2020-07, with the labels that each got.

#86 Registro/usuario
  app/components/forms/InputCreate.vue
  app/components/forms/InputOptions.vue
  app/components/sections/AppHeader.vue
  app/cypress.json
  app/cypress/fixtures/example.json
  app/cypress/fixtures/usuario.login.post.json
  app/cypress/fixtures/usuario.post.json
  app/cypress/fixtures/usuario.put.json
  app/cypress/integration/admin/equipes.spec.js
  app/cypress/integration/admin/relatorios.spec.js
  app/cypress/integration/login/login.spec.js
  app/cypress/integration/resetar-senha/reset-page.spec.js
  app/cypress/plugins/index.js
  app/cypress/support/commands.js
  app/nuxt.config.js
  app/package.json
  app/pages/admin/equipes.vue
  app/services/api-usuario.js
  app/store/admin/equipes.js
Labels: app, feat, tests

#87 chore(app): inclui analytics
  app/nuxt.config.js
  app/package-lock.json
  app/package.json
Labels: app, docs

#90 Feat/perfil
  api/package-lock.json
  api/package.json
  api/seeders/005-usuarios.js
  api/src/controllers/usuarios.controller.js
  api/src/models/usuarios.model.js
  app/components/forms/InputCreate.vue
  app/components/forms/InputUpdate.vue
  app/components/sections/AppHeader.vue
  app/components/sections/Modal.vue
  app/cypress/integration/perfil/perfil.spec.js
  app/pages/perfil.vue
  app/services/api-usuario.js
  app/store/usuario.js
Labels: app, feat

#97 feat(app): faq
  api/src/controllers/usuarios.controller.js
  app/assets/style/theme.scss
  app/components/elements/LinhaHorizontal.vue
  app/components/forms/InputUpdate.vue
  app/components/global/elements/ElementsAdminList.vue
  app/components/router-links/CardHorizontal.vue
  app/components/router-links/ListHorizontalNav.vue
  app/components/router-links/Voltar.vue
  app/components/sections/AppHeader.vue
  app/content/faq/cadastro.md
  app/content/faq/index.yml
  app/content/faq/instalar.md
  app/content/faq/login.md
  app/content/faq/objetivos.md
  app/content/faq/piu.md
  app/layouts/faq.vue
  app/middleware/authenticated.js
  app/nuxt.config.js
  app/package-lock.json
  app/package.json
  app/pages/admin/projetos.vue
  app/pages/faq/_content.vue
  app/pages/faq/index.vue
  app/pages/index.vue
  app/services/api-usuario.js
  app/store/faq.js
  app/store/usuario.js
Labels: api, app, docs

#100 feat(app): resolve #95. Cria faq com instruções de uso
  app/content/faq/cadastro.md
  app/content/faq/instalar.md
  app/content/faq/login.md
  app/content/faq/objetivos.md
  app/nuxt.config.js
  app/pages/faq/_content.vue
Labels: app, docs

#103 chore(api): db backup
  api/.gitignore
  api/README.md
  api/dump.js
  api/package-lock.json
  api/package.json
  api/src/db.config.js
Labels: api, devops
