Repository SPURB/apropriacaohoras, pull requests merged in 2020-05, with the labels that each got.

#20 feat(app): add bloqueio de combobox
  app/components/Calendario.vue
  app/components/CustomSelect.vue
  app/components/calendario.vue
  app/pages/registrar.vue
  app/services/api-subatividade.js
  app/store/form-registrar-horas.js
Labels: app

#27 Feature/reset password
  api/src/controllers/usuarios.controller.js
  app/components/elements/BoxEmail.vue
  app/middleware/authenticated.js
  app/pages/login.vue
  app/pages/reset.vue
  app/services/api-usuario.js
  app/store/usuario.js
Labels: app

#30 fix(app): resolução de bug no calendário
  api/src/controllers/horas.controller.js
  api/src/models/index.js
  app/components/Calendario.vue
  app/components/calendario.vue
  app/store/form-registrar-horas.js
Labels: app, bug

#33 Feat/admin projetos
  api/migrations/003-create-usuarios.js
  api/seeders/003-usuarios.js
  api/src/controllers/horas.controller.js
  api/src/controllers/subatividades.controller.js
  api/src/controllers/usuarios.controller.js
  api/src/models/index.js
  api/src/models/usuarios.model.js
  app/components/Modal.vue
  app/components/forms/AdminProjetosCriar.vue
  app/components/router-links/ListHorizontalNav.vue
  app/layouts/admin.vue
  app/pages/admin/equipes.vue
  app/pages/admin/projetos.vue
  app/services/api-fase.js
  app/services/api-projeto.js
  app/services/api-subatividade.js
  app/store/admin/projetos.js
Labels: app, enhancement

#42 Arruma parcialmente display de erros (#36), resolve (#24)
  api/package-lock.json
  api/package.json
  api/src/controllers/acoes.js
  api/src/controllers/horas.controller.js
  api/src/controllers/projetos.controller.js
  api/src/routes/projetos.routes.js
  app/components/AppHeader.vue
  app/components/ListarHoras.vue
  app/pages/admin/relatorios.vue
  app/pages/index.vue
  app/pages/registrar.vue
  app/services/api-projeto.js
  app/store/relatorios.js
Labels: api, app

#44 Feat/relatorio admin
  api/package.json
  api/src/controllers/acoes.js
  api/src/controllers/horas.controller.js
  api/src/controllers/projetos.controller.js
  api/src/routes/projetos.routes.js
  app/components/elements/Filtro.vue
  app/components/elements/TabelaProjetos.vue
  app/layouts/admin.vue
  app/layouts/usuario.vue
  app/pages/admin/relatorios.vue
  app/pages/index.vue
  app/store/relatorios.js
Labels: api, app

#45 feat(app): cria preloader e inclui em index, login e relatorios
  app/components/elements/Preloader.vue
  app/pages/admin/relatorios.vue
  app/pages/index.vue
  app/pages/login.vue
Labels: app

#46 Testes/e2e
  app/components/Calendario.vue
  app/components/Modal.vue
  app/components/calendario.vue
  app/components/elements/Filtro.vue
  app/components/forms/InputCreate.vue
  app/components/forms/InputOptions.vue
  app/components/forms/InputSearch.vue
  app/cypress.json
  app/cypress/fixtures/example.json
  app/cypress/integration/admin/card-router.spec.js
  app/cypress/integration/admin/equipes.spec.js
  app/cypress/integration/admin/fase.spec.js
  app/cypress/integration/admin/projetos.spec.js
  app/cypress/integration/admin/relatorios.spec.js
  app/cypress/integration/admin/subatividades.spec.js
  app/cypress/integration/login/login.spec.js
  app/cypress/integration/registrar-horas/registrar.spec.js
  app/cypress/integration/registrar-horas/ui-calendario.spec.js
  app/cypress/plugins/index.js
  app/cypress/support/commands.js
  app/cypress/support/index.js
  app/package-lock.json
  app/package.json
  app/pages/admin/equipes.vue
  app/pages/admin/index.vue
  app/pages/admin/projetos.vue
  app/pages/login.vue
  app/pages/registrar.vue
Labels: app, tests

#47 style(app): add botão para mostrar senha ou ocultar
  app/components/elements/VisibleIcon.vue
  app/pages/login.vue
Labels: app, enhancement
